/*
 * Style tweaks
 * --------------------------------------------------
 */
html,body {
  
  overflow-x: hidden; /* Prevent scroll on narrow devices */
  background-image:url('../img/squared_metal.png') ; /*adapt from http://subtlepatterns.com*/
  padding-top: 28px;
  height: 100%;
  font-family: 'Source Sans Pro', sans-serif;
  
  };

#id_wrapper {
    min-height: 100%;
    position: absolute;
	padding-bottom:50px;
}

#id_header {

    box-sizing: border-box;
}

#id_content {
    background-color:rgba(151, 166, 178,0.3);
	padding-top: 10px;
    padding-bottom: 1.5em;
}

#id_footer {
    height: 30px;
    position: relative;
    text-align:center;
}
#myTabs{
    font-size:1.1em;

}
.download{
    position:absolute;
    right:-10%;
}
.project-type{
    font-size:1.7em;
    background:#eaeaea;
    padding:2px;
}
.project-title{
    font-size:1.7em;
	line-height:1.5em;
    font-family: 'Chunkfive';
    font-weight:bold;
    color:#903C84;
    text-shadow:1px 1px rgb(180, 180, 150);
}
.project-method{
	font-weight:bold;
	font-size:1.2em;
    color:#6B3030;
}
.project-deliverableTitle{
    font-size:1.2em;
    font-weight:bold;
    margin-top:0.5em;
    margin-bottom:0em;
    padding:0;
    color:#6B3030;
}
.project-deliverable{
    font-size:1.2em;
    margin:0;
    padding-top:0em;
    padding-left:1.2em;
}

.project-collaborateTitle{
    font-size:1.0em;
    font-weight:bold;
    margin-top:0.5em;
    margin-bottom:0em;
    padding:0;
}
.project-collaborate{
    font-size:1.0em;
    margin:0;
    padding-top:0em;
    padding-left:1.2em;
}
.project{
    font-family: 'Source Sans Pro', sans-serif;
    border-bottom-width: 1px;
    border-bottom-style: dashed;
    border-bottom-color: #999999;
	padding-bottom:20px;
	padding-top:20px;
}
.description{
    font-size:1.2em;

}
.resume_title_lv1{
    font-size:1.7em;
    font-family: 'Chunkfive';
    font-weight:bold;
    color:#7F3575;
    text-shadow:1px 1px rgb(180, 180, 150);
    line-height:0.8em; 
	}
.resume_title_lv2{
    font-size:1.3em;
    font-family: 'Chunkfive';
    font-weight:bold;
    line-height:0.8em;
	color:#7F5F5F;	
	}
.resume_content_lv1{
    font-family: 'Source Sans Pro', sans-serif;
    font-size:1.2em;
    line-height:1.4em;
	}
.thumbnail_lv1{
    background-color:rgba(158,158,158,0.35);
    width:265px; 
    height:390px;
}

.thumbnail_heading{
    color:#7F5F5F;
    text-shadow:1px 1px rgb(180, 180, 150);
    font-weight:bold;
    text-align:center;
    line-height:1.1em; 
	font-family: 'Chunkfive';
}
.thumbnail_caption{
    text-align:center;
}
.index_heading{
	font-family: 'Chunkfive';
	text-shadow:1px 1px rgb(240, 234, 234);
    color:#7F3575;
	line-height:1.1em; 
	font-size:1.1em;
	font-weight:bold;
}
.feature_Title{
	font-family: 'Chunkfive';
	text-shadow:1px 1px rgb(240, 234, 234);
	color:#903C84;
	text-indent : 20px ;
	font-weight:bold;
	line-height:1.1em; 
}

.about_Me{
	margin-left : 2em; 
	font-size:1.0em;
	color:#7F5F5F;
}
    /*
 * Off Canvas
 * --------------------------------------------------
 */
@media screen and (max-width: 767px) {
  .row-offcanvas {
    position: relative;
    -webkit-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
  }

  .row-offcanvas-right
  .sidebar-offcanvas {
    right: -50%; /* 6 columns */
  }

  .row-offcanvas-left
  .sidebar-offcanvas {
    left: -50%; /* 6 columns */
  }

  .row-offcanvas-right.active {
    right: 50%; /* 6 columns */
  }

  .row-offcanvas-left.active {
    left: 50%; /* 6 columns */
  }

  .sidebar-offcanvas {
    position: absolute;
    top: 0;
    width: 50%; /* 6 columns 

  }
}
