/*
 * Style tweaks
 * --------------------------------------------------
 */
html,body {
  overflow-x: hidden; /* Prevent scroll on narrow devices */
  background-image:url('../img/squared_metal.png') ; /*adapt from http://subtlepatterns.com*/
  padding-top: 45px;
  height: 100%;
};

#id_wrapper {
    min-height: 100%;
    position: relative;
}

#id_header {
    height: 3px;
    box-sizing: border-box;
}

#id_content {
    padding-top: 10px;
    padding-bottom: 40px;
}

#id_footer {
    height: 40px;
    box-sizing: border-box;
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align:center;
}

.download{
    position:absolute;
    right:-10%;
}
.project-type{
    font-size:1.7em;
    background:#eaeaea;
    padding:2px;
}
.project-title{
    font-size:1.7em;
    font-family: 'Chunkfive';
    font-weight:bold;
    color:rgb(17, 138, 120);
    text-shadow:1px 1px rgb(255, 255, 255);
}
.project-method{
	font-weight:bold;
}
.project{
    font-family: 'Chunkfive';
    border-bottom-width: 1px;
    border-bottom-style: dashed;
    border-bottom-color: #999999;
}
.description{
    font-size:1.2em;
}
.resume_title_lv1{
	margin-left:-59px;
    font-size:1.7em;
    font-family: 'Chunkfive';
    font-weight:bold;
    color:rgb(17, 138, 120);
    text-shadow:1px 1px rgb(180, 180, 150);
	}
.resume_title_lv2{
	margin-left:-36px;
    font-size:1.2em;
	}
.resume_content_lv1{
	margin-left:-13px;
	}

    /*
 * Off Canvas
 * --------------------------------------------------
 */
@media screen and (max-width: 767px) {
  .row-offcanvas {
    position: relative;
    -webkit-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
  }

  .row-offcanvas-right
  .sidebar-offcanvas {
    right: -50%; /* 6 columns */
  }

  .row-offcanvas-left
  .sidebar-offcanvas {
    left: -50%; /* 6 columns */
  }

  .row-offcanvas-right.active {
    right: 50%; /* 6 columns */
  }

  .row-offcanvas-left.active {
    left: 50%; /* 6 columns */
  }

  .sidebar-offcanvas {
    position: absolute;
    top: 0;
    width: 50%; /* 6 columns 

  }
}
